@media screen and (max-width: 1024px) {
  .places {
    margin-bottom: 122px;
  }
}

@media screen and (max-width: 1280px) {
  .places {
    margin-bottom: 86px;
  }
}

@media screen and (max-width: 870px) {
  .places {
    row-gap: 73px;
    padding: 0 24px 90px;
  }
}

@media screen and (max-width: 450px) {
  .places {
    row-gap: 20px;
    padding: 0 0 66px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 326px) {
  .places {
    padding: 0;
    margin-bottom: 66px;
  }
}
