.intro__list {
    list-style: none;
    padding-left: 1px;
    padding-top: 15px;
    margin: 0;
}

@media screen and (max-width: 326px) {
    .intro__list {
    padding-top: 33px;
    }  
}

@media screen and (max-width: 768px) {
    .intro__list{
    padding-top: 32px;
    } 
}

@media screen and (max-width: 1024px){
    .intro__list{
        padding-top: 35px;   
    }
}


