.cover__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    margin: 32px 0 0 0;
    max-width: 360px;
    z-index: 2;
    align-self: center;
    margin: 0 auto auto auto;
  }
  
  @media screen and (max-width: 767px) {
    .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
    }
  }