.header {
  margin: 0px 48px 0px 48px;
  display: flex;
  padding-top: 28px;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1280px) {
  .header {
    margin: 0px 48px 57px 48px;
  }
}

@media screen and (max-width: 1025px) {
  .header {
    padding: 28px 48px 48px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 48px;
    margin: 0;
  }
}

@media screen and (max-width: 720px) {
  .header {
    min-height: 42px;
    padding: 16px 16px 48px;
  }
}

@media screen and (max-width: 326px) {
  .header {
    padding: 7px 16px 48px;
    margin: 0;
  }
}
