.footer__author {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin: 0;
  }

  @media screen and (max-width: 769px) {
    .footer__author{
      line-height: 14px;
      margin: -7px -11px 0px 0px;
    }
    }

    @media screen and (min-width: 319px) and (max-width: 325px) {
      .footer__author {
        padding-top: 45px;
      }
    }