.intro {
    padding-bottom: 92px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto;
  }

  @media screen and (max-width: 1025px){
    .intro{
      max-width: 928px;
    }
  }

  @media screen and (max-width: 948px){
    .intro{
      padding: 0 24px 88px;
    }
  }
  @media screen and (max-width: 321px){
    .intro {
      max-width: 288px;
      min-height: 754px;
      padding: 0;
      margin-bottom: 47px;
  }
}