.intro__list-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #ffffff;
}

@media screen and (max-width: 352px) {
  .intro__list-text {
    font-size: 12px;
    line-height: 18px;
    max-width: 288px;
  }
}
