.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  min-height: 740px;
  max-width: 1184px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* background-color: #2A2C2F;
   */
}


.cover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:#2A2C2F;
    opacity: 0.3;
    transition: opacity 350ms ease;
    z-index: -1;
    
}

.cover:hover:before {
  opacity: 0.8;
  
}


@media screen and (min-width: 375px) and (max-width: 1023px) {
  .cover {
    width: 100%;
     min-height: 483px; 
    margin: 0;
  }
}

@media screen and (max-width: 374px) {
  .cover {
    width: 100%;
    min-height: 200px;
    margin: 0;
  }
}

@media screen and (max-width: 768px){
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 318px) and (max-width: 327px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}
