@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

/*Секция Header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);

/*Секция lead*/
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/*Секция intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-text/intro__list-text.css);
@import url(../blocks/intro/__list-attribute/intro__list-attribute.css);

/*Секция photo-grid*/
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__lists/photo-grid__lists.css);
@import url(../blocks/photo-grid/__pictures/photo-grid__pictures.css);

/*Секция place*/
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraph-text/place__paragraph-text.css);
@import url(../blocks/place/__main-text/place__main-text.css);

/* places */
@import url(../blocks/places/places.css);

/*Секция cover*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

/*Секция footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);

@import url(../blocks/footer/__list-item/footer__list-item.css);
@import url(../blocks/footer/__link-item/footer__link-item.css);

@import url(../blocks/footer/__author/footer__author.css);

/* .footer__link {
    margin-right: 18px;
  }
  .footer__link:last-of-type {
    margin-right: 0;
  }

  @media screen and (max-width: 763px) {
    .footer__link {
      margin: 0 0 32px;
      font-size: 24px;
      line-height:  24px;
    }
  } */

  /* .footer__link-item {
    color: #ffffff;
    text-decoration: none;
  } */

  /* .footer__list-item {
    margin-right: 18px;
  }
  .footer__list-item:last-of-type {
    margin-right: 0;
  }

  @media screen and (max-width: 763px) {
    .footer__list-item {
      margin: 0 0 32px;
      font-size: 24px;
      line-height:  24px;
    }
  } */

  /* .footer__link-item {
    color: #ffffff;
    text-decoration: none;
  } */


  /* .footer__list-item {
    margin-right: 18px;
  }
  .footer__list-item:last-of-type {
    margin-right: 0;
  }

  @media screen and (max-width: 763px) {
    .footer__list-item {
      margin: 0 0 32px;
      font-size: 24px;
      line-height:  24px;
    }
  }  */