.place {
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 48px 40px;
    align-items: start;
    justify-items: start;
    padding-bottom: 80px;
  }

  .place:last-of-type{
    padding-bottom: 0;
  }

  @media screen and (max-width:1024px){
.place {
  grid-template-columns: 440px minmax(min-content,max-content);
  column-gap: 32px;
  margin: 0 48px 0 48px;
}
}

@media screen and (max-width:870px){
.place {
  grid-template-columns: 340px minmax(min-content,max-content);
  margin: 0;
  grid-gap: 45px 29px;
  padding-bottom: 73px;
}
}

@media screen and (max-width:590px){
.place {
  grid-template-columns: minmax(min-content,max-content);
  /* justify-items: center; */
}
}

@media screen and (max-width:720px) {
.place {
  grid-template-columns: 320px;
  grid-gap: 21px 40px;
}
}

@media screen and (max-width: 326px) {
  .place {
    margin: 0 auto;
    padding-bottom: 50px;
    grid-gap: 10px 22px;
  }
}