.place__paragraph-text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  padding-bottom: 26px;
}

.place__paragraph-text:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph-text {
    max-width: 274px;
  }
}
